# This is a default .env file

ADMIN_USER=admin
ADMIN_PASSWORD=admin

TEST_USER=test@example.com
TEST_PASSWORD=testtest123

BASE_URL=http://localhost:8100

PREMIUM_NAMESERVER_1=
PREMIUM_NAMESERVER_2=

BASIC_NAMESERVER_1=
BASIC_NAMESERVER_2=

VANITY_NAMESERVER_1=
VANITY_NAMESERVER_2=