name: CI

on: [ push ]

jobs:
  phpcs:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: "modules/registrars/realtimeregister"

    steps:
      - uses: actions/checkout@v3

      - name: Composer install --dev
        uses: php-actions/composer@v6
        env:
          COMPOSER: "composer.json"
        with:
          working_dir: "modules/registrars/realtimeregister"

      - name: PHP Code Sniffer
        uses: php-actions/phpcs@v1
        with:
          php_version: 8.1
          path: modules/registrars/realtimeregister
          ignore: modules/registrars/realtimeregister/vendor
          extensions: php
          standard: PSR12

      - name: PHP Compatibility
        uses: pantheon-systems/phpcompatibility-action@v1
        with:
          test-versions: 7.4-
          paths: ${{ github.workspace }}/src